# 目錄型排除
/data/
/output/
/models/
/logs/
/keep_experiments/
/results/
/output_/
/wandb/
/mychage/
/tmp/
/docs/
/build/
/dist/
*.egg-info/

# 檔案型排除
*.pth
*.pkl
*.tar
*.csv
core*
*.swn
*.swo
*.swp
*.swm
*~
.DS_Store
.ninja_deps
.ninja_log
compile_commands.json

# 編譯產物
*.slo
*.lo
*.o
*.cuo
*.obj
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.pb.h
*.pb.cc
*_pb2.py
*.mex*

# Python 相關
*.py[cod]
__pycache__/
.mypy_cache/
*.pyd

# 編輯器與IDE
*.sublime-workspace
*.sublime-project
*.*project
.settings/
*.user
.idea/
.vscode/
.vs/

# Notebook 暫存
.ipynb_checkpoints/

